.sidebar {
  flex-basis: 20%;
}

.sidebar__top {
  background-color: white;
  border-radius: 5%;
  width: 100%;
  overflow: hidden;
  margin: 5rem 0 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__bannerImage {
  height: 6rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: -2rem;
}

.sidebar__avatar {
  height: 5rem;
  border: 2px solid white;
  
}

.sidebar__bottom {
  background-color: white;
  border-radius: 5%;
  width: 100%;
}
