/* --------------------FONT IMPORTS-------------------- */

/* ----------------------CSS RESET--------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------GLOBAL STYLING------------------- */

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* ---------------------TYPOGRAPHY--------------------- */
